# Dirs
work
libs
impl
  
# Files
*.mti
*.wlf
wlf*
*_stacktrace.vstf
*.mpf
transcript
Active-HDL
*.vcd
*/*.vcd
*/*/*.vcd
 
# Active-HDL
compile
log
*.asdbw
*.wsp
Edfmap.ini
projlib.cfg
stimulators.set
*.vdc
